<p id="notice"><%= notice %></p>

<h1>Topic Board</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.message %></td>
        <td><%= question.tag %></td>
        <td><%= question.answers%></td>
        <td><%= link_to 'Show Answers', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create New Question
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Post Question</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Form</button>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
